 <!-- <mat-card class="example-card">
      <mat-card-header>
     
        <div fxLayout="row" fxLayoutAlign="start center">
        <mat-icon style="font-size: 60px !important">account_circle</mat-icon>
        </div>
        <div fxLayout="column" fxLayoutAlign="end end" class="info"> 
        <mat-card-title>{{items.name}}</mat-card-title>
        <mat-card-subtitle>{{items.emailId}}</mat-card-subtitle>
        </div>	
      
      </mat-card-header>
      <mat-divider></mat-divider>
       <div class="buttonLogin" fxLayoutGap="100px">
                  <button mat-raised-button color="primary" id="register" routerLink='/register'>Add account</button>
        
                  <button mat-raised-button color="primary" id="login" (click)="signOut()">Sign out </button>
        
                </div> 
    </mat-card>  -->