<div fxLayout="row wrap" fxLayoutAlign="space-between start">
  <div class="icons">
    <button mat-icon-button matTooltip="Remind me" [matMenuTriggerFor]="reminder">
      <mat-icon>add_alert</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Collaborator"  (click)=openCollaboratorDialog() mat-button
    style="height: 20px;width: 20px;">
      <mat-icon>person_add</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Change color" [matMenuTriggerFor]="colorList">
      <mat-icon>palette</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Add image">
      <mat-icon>image</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Archive" (click)="archive(items)">
      <mat-icon>archive</mat-icon>
    </button>
    <button mat-icon-button matTooltip="More" [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
   
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <span (click)="deletenote(items)">delete note</span>
      </button>
      <button mat-menu-item>
         <span [matMenuTriggerFor]="label" (click)="onEvent($event)">add label</span>
      </button>
      <button mat-menu-item>
         <span>add drawing</span>
      </button>
      <button mat-menu-item>
         <span>restore</span>
      </button>
   </mat-menu>

   <mat-menu #label="matMenu">
    <div fxLayout="column">
       <div>Label note</div>
       <div *ngFor="let labels of allLabels">
          <mat-checkbox (click)="addLabelToNote(labels.labelId)">
             <div [style.fontSize.px]=12>{{labels.labelName}}</div>
          </mat-checkbox>
          {{labels.labelName}}
       </div>
    </div>
 </mat-menu>

    <mat-menu #colorList="matMenu">
     <div fxLayout="row" fxLayoutGap="10px" *ngFor="let color of colors">
        <div *ngFor="let noteColor of color">
          <button [ngStyle]="{ 'background-color': noteColor.colorCode }"
             (click)="changeColor(noteColor.colorName)" matTooltip="{{ noteColor.colorName }}"mat-mini-fab></button>
        </div>
     </div>
    </mat-menu>

    <mat-menu #reminder="matMenu">
      <button mat-menu-item (click)="todayReminder()">
        <span>Later Today</span>
        <span>  8:00 AM</span>
      </button>
      <button mat-menu-item (click)="tomorrowReminder()">
        <span>Tommorow</span>
        <span>  8:00 AM</span>
      </button>
      <button mat-menu-item (click)="nextWeek()">
        <span>Next Week</span>
        <span>  8:00 AM</span>
      </button>
      <button mat-menu-item>
        <mat-icon>access_time</mat-icon>
        <span>Peek Date & Time</span>
      </button>
    </mat-menu>
   
  </div>
</div>

