// .button{
//     margin-left: 230px;
//   }
  .button{
    margin-top: 20px; 
    margin-left: 230px;
  }
  .labels{
    margin-top: 30px;
    margin-right: 50px;
    margin-left: 50px;
  }
.mat{
  margin: 3%;
  width: 250px;
}
.createbtn{
  margin-left: 80px;
}
.deletebtn{
  margin-left: -50px;
  margin-right: 80px;
  }
  .done{
    margin-left: 130px;
    //margin-right: 20px;
  }