<mat-card class="collaborator">
    <mat-card-title>Collaborator</mat-card-title>
    <hr>
    <div >
      <mat-icon>person_add</mat-icon>
      <div class="a">
        <span>ranpise sangharsha</span>&nbsp;
        <span>sangharsharanpise408@gmail.com</span>
      </div>
    </div>&nbsp;
    <div>
      <mat-icon>person_add</mat-icon>&nbsp;&nbsp;
      <input matInput placeholder="Person or email to share with">
    </div>
   
    <mat-card-footer>
       <mat-card-content class="b" fxlayout="row">
    <div>
      <button mat-button>cancel</button>
    </div>
    <div>
      <button mat-button>save</button>
    </div>
    </mat-card-content>
    </mat-card-footer>
  </mat-card>