<h3>Trashed Notes are</h3>
<div fxLayout="row wrap" fxLayoutAlign="row center" fxLayoutGap="10px" class="main">
    <mat-card class="card" class="trashNotes"  *ngFor="let items of notes" [ngStyle]="{'background-color':items.color}">

        <div class="title" fxlayoutGap="10px" style="word-wrap: break-word;">{{items.title}}</div>&nbsp;
        <div class="subtitle" style="word-wrap: break-word;">{{items.description}}</div>
        &nbsp;
        <div>
        <button mat-icon-button>
          <mat-icon [matMenuTriggerFor]="more">more_vert</mat-icon>
        </button>
        <mat-menu #more="matMenu">
          <div>
            <button mat-button (click)="deletePermenently(items)">Delete forever</button>
          </div>
          <div>
            <div>
              <button mat-button (click)="restore(items)">Restore</button>
            </div>
          </div>
        </mat-menu>
        </div>
        </mat-card>
</div>


