.matCard{
  
    width:100%;
    height: 150%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: 5%;
    border-radius: 02%;
    box-shadow: 0 8px 16px 0 rebeccapurple (187, 71, 168, 0.459); 
    align-content: center 
  }
.input-style{
    width: 100%;
}
// #forgot{
//     margin-left: 10%;
// }
// #reset{
//    margin-left: 80px;
// }
.matCardTitle{
    color:blue;

}
.matCardSubTitle{
    color: palevioletred;
    margin-left: 40%;
}
.example-container{
    width: 100%;
    color:black
  
}
.input-style{
    color: black;
    width: 120%
}
.buttonForgot{
    display:inline-block;
}